.page-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 16px;
}
.section {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
}
.container {
  flex: 1;
}
.events-list {
  display: inline-block;
  width: 250px;
}
.calandar {
  width: calc(100% - 250px);
  flex: 3;
  float: right;
}

.add-event-button {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    padding: 8px;
}
.add-appointement-errors {
    color: red;
}